/**
 * @file
 * Client-side styles for the simple_archive module.
 */

.simple_archive .year ul,
.simple_archive .month ul {
  transition: height 0.1s;
}

.simple_archive .year[data-collapsed="expanded"] > ul,
.simple_archive .month[data-collapsed="expanded"] > ul {
  height: inherit;
}

.simple_archive .year[data-collapsed="collapsed"] > ul,
.simple_archive .month[data-collapsed="collapsed"] > ul {
  height: 0;
  overflow: hidden;
}

.simple_archive.simple_archive_setup-processed .year > span,
.simple_archive.simple_archive_setup-processed .month > span {
  cursor: pointer;
}
